Q1. Characteristics of a tuple
Tuples are basically a data type in Python. these are hashable index type data. It is basically a ordered collection of elements. 
Yes, Tuples are immutable data type i.e. once defined, it's value or element can't be modified or altered.

Q2. The two built in methods in tuple are : count() and index() 
 (a) count() : It returns the number of times a element appear in the tuple.

In [2]:
# Ex :
t1 = (1,2,3,4,5,6,7,8,6,9,9,9,9,4,4)
t1.count(4)

3

(b) index(): It returns the first occurrence of the given element from the tuple.

In [3]:
# Ex:
t1.index (4)

3

Since, tuple is immutable data type which means it is not possible to modify or alter its value or element. hence , There is only two built-in method available for tuple

[Q3] Set is the data type which do not allow duplicate items. let's say we have given a list : l1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4] 
To remove a duplicate item , we can simply typecast it to  set and again typecaList back to list.

In [8]:
l1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
list(set(l1))

[1, 2, 3, 4]

[Q4] union() method returns a new set containing all items from both sets that means it doesn't affect both the  set while  the update() method that inserts all the items from one set into another which means it change the set, which is being updated

In [15]:
# union method example 
s1 = { 1,2,3,4}
s2 = { 'a','b','c','d'}
s3= s1.union(s2)
s3

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [16]:
s1 # same as before

{1, 2, 3, 4}

In [18]:
s2 #same as before

{'a', 'b', 'c', 'd'}

In [19]:
# update method example
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

In [20]:
set1 #set1 is changed

{1, 2, 3, 'a', 'b', 'c'}

In [21]:
set2 #sameas before

{1, 2, 3}

[Q5] Dictinary is a data type in Python, which store the element in key- value pair. each key should be unique.
Ex : dict1= { "Abhi" : "Tall", "Shyam" : "Handsome", "Ritwik" : "Short"}
as per python 3.7 : Dictionary is ordered but as per 3.6 and  older, it is unordered.

In [ ]:
[Q6] Yes , we can create a nested dictionary.
ex: dict1= {"Abhi": "Burger", "Shyam" : " Paneer", "Aakriti":{"Breakfast" : "Egg", "Lunch": "Rice", "Dinner":"Chicken"}}

[Q7]
The setdefault() method returns the value of the item with the specified key.

If the key does not exist, insert the key, with the specified value.

In [27]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics", "['Python', 'Machine Learning’, 'Deep Learning']")
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': "['Python', 'Machine Learning’, 'Deep Learning']"}

In [38]:
[Q8] Three view object in dictionary are : key, value , items

SyntaxError: invalid syntax (2356030972.py, line 1)

In [29]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [34]:
dict1.keys() #shows all the keys as list

dict_keys(['Sport', 'Teams'])

In [36]:
dict1.values() #shows all the values as list

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [37]:
dict1.items() #show al the items as a tuple inside list

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])