Q1. What is a database? Differentiate between SQL and NoSQL databases.


A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

Difference between Sql and NoSql database:

1.SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database.
2.SQL databases defines and manipulates data based structured query language (SQL) and have fixed schemas while Nosql database have dynamic schema for unstructured data and data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store.
3.Sql databases are vertically scalable, while NoSQL databases are horizontally scalable.

[Q2.] What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for data definition language, which is a subset of SQL. It is a language for describing data and its relationships in a database. We can generate DDL in a script for database objects to: Keep a snapshot of the database structure.

Following commands are used for DDL:

CREATE to create a new table or database.
        ex: CREATE DATABASE test;

ALTER for alteration.
ex: ALTER TABLE test ADD new_data;
        it will add a column

Truncate to delete data from the table.
ex : TRUNCATE TABLE test;
        will delete all data from the table(not the tabkle itself)

DROP to drop a table.
ex: DROP TABLE test;
        will delete the table

RENAME to rename a table.
ALTER TABLE test
        RENAME TO test_001;

[Q3.] What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.

List of DML commands:

INSERT : It is used to insert data into a table.
ex: INSERT INTO test_001 VALUES ("sudh", 123, "kumar","sudh@gmail.com");

UPDATE: It is used to update existing data within a table.
ex: UPDATE Student SET NAME = 'PRATIK' WHERE Age = 20;

DELETE : It is used to delete records from a database table.
ex: DELETE FROM Student WHERE NAME = 'Ram';
will delete the row where student name is Ram

[Q4.] What is DQL? Explain SELECT with an example.

It is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.

SELECT:  used to retrieve or fetch data from a database.
ex: SELECT * FROM test_001;
will show all the column and rows with the data

[Q5.] Explain Primary Key and Foreign Key.

Primary key: It is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.
FOREIGN key: The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table.

[Q6.] Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#for that we need to import mysql connector
import mysql.connector
mydb =mysql.connector.connect(
    host= "localhost",
    user= "abc",
    password= "password"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test1.test_name")
for i in mycursor.fetchall():
    print(i)

cursor():cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.
cursor.execute (): The execute () method helps us to execute the query and return records according to the query.

[Q7.] Give the order of execution of SQL clauses in an SQL query.

The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution, sometimes called the SQL order of operations. Understanding SQL query order can help you diagnose why a query wonâ€™t run, and even more frequently will help you optimize your queries to run faster.
The order are:
1. FROM 
2. WHERE 
3. GROUP BY